/*CSS*/

body {
    background: #e5e5e5;
    color: #25282B;
    text-align: center;
}

button {
    border: none;
    color: #ff5e84;
    background: none;
    font-weight: bold;         
           
}

.fat {
    background: #ff5e84;
    color: white;
}

#footer a {
    color: #25282B;
    text-decoration: none;
}

.hide {
    display: none;
}