<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
    <title>Ideias - Casa Criativa</title>
</head>
<body id="page-ideas">
    <div id="container">
        <header>
            <a href="/">
                <img src="img/casa_criativa.png" alt="Casa-Criativa">
            </a>
            <nav>
                <li><a href="/">Início</a></li>
                <li><a class="button" href="#" onclick="onOff()">Nova Ideia</a></li>
            </nav>
        </header>

        <section id="title">
            <p>em exibição</p>
            <h1>Ideias</h1>
        </section>

        <section id="ideas">
            {% include "all_ideas.html" %}
        </section>

        <footer>
            Com ❤ <a href="http://rocketseat.com.br" target="_blank">Rocketseat</a> 
        </footer>

        {% include "modal.html" %}

        <script src="scripts.js"></script>

    </div>
</html>