/*CSS*/

/*GLOBAIS*/
body {
    background: #e5e5e5;
    color: #25282B;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body.hideScroll {
    overflow: hidden;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

a {
    color: #ff5e84;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    background: #ff5e84;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.16);
}

.button:hover {
    text-decoration: none;
    background-color: #0943e3
}

#page-ideas nav li:last-child a {
    
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 8px;
}


/*Padrão*/

#container {
    max-width: 980px;
    width: 90%;

    margin: 32px auto;
    display: flex;
}

#intro {
    width: 300px;
    margin-right: 64px;
}

main {
    margin: 32px 0;
}

#buttons {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}

button {
    border: none;
    color: #ff5e84;
    background: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

button:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-weight: regular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #777;
}

footer a {
    opacity: 0.7;
}
#last-ideias a {
    margin: 0;
}

.ideia {
    display: flex;
    background: white;
    margin-bottom: 32px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 16px -8px rgba(1,1,1,0.2);
}

.ideia img {
    height: 60px;
    width: 60px;
    margin: 0px 32px 0px 0px;

}

.ideia p {
    margin: 8px 0;
    color:#777;
}

.ideia h3 {
    margin: 0px;
}

.ideia .description {
    margin: 16px 0px;
}


/*MODAL*/
#modal {
    background: #ff5e84;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transition: 400ms;
}

#modal.addScroll {
    overflow: auto;
}

#modal .content {
    margin-top: 15%;
    color: white;
}


#modal .content h1 {
    text-align: center;
    text-transform: uppercase;
}

form button {
    background:  white;
    border-radius: 6px;
    width: 160px;
    height: 50px;
    margin-top: 32px;
    grid-column: 2;
    justify-self: end;
    transition: 400ms;
}

form button:hover {
    background-color: #0984e3;
    color: white;
    text-decoration: none;
}

form a {
    background-color: #ffffff22;
    display: flex;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    margin-top: 32px;
    font-size: 14px;
    font-weight: bold;
    align-self: end;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

form a:hover {
    background-color: rgb(247, 101, 113);
    color: white;
    text-decoration: none;
}
#modal form {
    max-width: 800px;
    width: 80%;
    margin: 0 auto 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
    grid-column: span 2;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #d13a5d;
    outline: none;
    font-size: 16px;
}

form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

#modal.hide {
    opacity: 0;
    visibility: hidden;
}

/*IDEAS.HTML*/

#page-ideas #container{
    display: block;
    max-width: 980px;
    width: 90%;

    margin: 32px auto;
}

#page-ideas header {
    display: flex;
    justify-content: space-between;
}

#page-ideas nav {
    display: flex;
    align-items: center;
}

#page-ideas nav li {
    list-style-type: none;
    margin-right: 16px;
}

#page-ideas nav li a.button {
    color: white
}

#page-ideas nav li:last-child {
    margin: 0;
}


section#title {
    text-align: center;
    margin: 64px 0px;
}

section#title p {
    opacity: 0.7;
    margin: 0;
}

section#title h1 {
    margin: 0;
    font-size: 28px;
}

section#ideas { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;   
}

section#ideas .ideia {
    margin: 0;
}

section#title,
section#ideas,
footer {
    margin-top: 64px;
}